<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.StatisticsMapper">

    <resultMap id="resultMap1" type="java.util.Map">
        <result property="key" column="date" javaType="java.lang.String" />
        <result property="value" column="turnover" javaType="java.lang.Double"/>
    </resultMap>

    <resultMap id="resultMap2" type="java.util.Map">
        <result property="key" column="date" javaType="java.lang.String" />
        <result property="value" column="new_user" javaType="java.lang.Integer"/>
    </resultMap>

    <resultMap id="resultMap3" type="java.util.Map">
        <result property="key" column="date" javaType="java.lang.String" />
        <result property="value" column="cumulative_user_count" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getTurnoverStatisticsInARange" resultMap="resultMap1">
        select substring(order_time,1,10) as date, sum(amount)  as turnover
        from orders
        where status = 5 and (order_time &gt;= #{begin} and order_time &lt;= DATE_ADD(#{end}, interval 1 day))
        group by substring(order_time,1,10)
    </select>


    <select id="getNewUserPerDay" resultMap="resultMap2">
        SELECT  substring(create_time,1,10) as date , count(*) as new_user FROM user
        where create_time &gt;= #{begin}  and create_time &lt;= #{end}
        group BY substring(create_time,1,10)
        order by substring(create_time,1,10) asc;
    </select>

    <select id="getAccumulatedUserNumber" resultMap="resultMap3">
        SELECT
            date,
            @cumulative_count := @cumulative_count + new_user AS cumulative_user_count
        FROM
            (   SELECT  substring(create_time,1,10) as date , count(*) as new_user FROM user
                where create_time &lt;= #{end}
                group BY substring(create_time,1,10)
                order by substring(create_time,1,10) asc) AS unique_dates
                JOIN
                (  SELECT @cumulative_count := 0) AS init;
    </select>
</mapper>
