<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.StatisticsMapper">

    <resultMap id="resultMap1" type="java.util.Map">
        <result property="key" column="date" />
        <result property="value" column="turnover" javaType="java.lang.Double"/>
    </resultMap>

    <select id="getTurnoverStatisticsInARange" resultMap="resultMap1">
        select Date(order_time) as date, sum(amount)  as turnover
        from orders
        where status = 5 and (order_time &gt;= #{begin} and order_time &lt;= DATE_ADD(#{end}, interval 1 day))
        group by Date(order_time)
    </select>

</mapper>
